// Breakpoints
$large: 1200px;
$medium: 992px;
$small: 768px;
$mobile: 576px;

// Colors
$color-white: #ffffff;
$color-violet: #100939;
$color-zumthor: #e7f0ff;
$color-ribbon: #005eff;
$color-alto: #dcdcdc;
$color-silver: #cccccc;
